@charset "utf-8";


* {
	// border:0 solid #e5e7eb;
	box-sizing:border-box;
}

html, body {
	scroll-behavior: smooth;
}

body {
	overflow-x:hidden;
}

em, i, address{
	font-style: inherit;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:inherit;
	font-size:inherit;
}
a{
    color:inherit;
	text-decoration: none;
}
 
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
}

// form
textarea { resize:none;}

button {border: none; cursor:pointer;
	background:none;
}

fieldset{
	border: none;
}


// custom 
.blind, legend {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}